/* Polices */

@import url('monosocialiconsfont.css');

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@import url('https://fonts.googleapis.com/css?family=Bitter');

body {
	background: url("../images/bg.jpg") fixed no-repeat;
	background-size: cover;
	margin: 0px;
	height: 1400px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover{
	color: #cfa205;
}

h1 {
	font-size: 133px;
	margin: auto;
	padding: 49px;
}

h3 {
	text-transform: uppercase;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav li {
	margin: auto;
}

p {
	display: block;
	margin: auto;
	color: #7a7a7a;
	padding: 15px;
}

#header {
	background: black;
	text-align: center;
	font-family: Josefin Sans, Arial, sans-serif;
	text-transform: uppercase;
	width: 1020px;
	margin: auto;
}

#menu {
	height: 50px;
	padding: 5px;
}

#banner {
	height: 259px;
	color: #cfa205;
}

#socbar {
	height: 60px;
	background: #e8e8e8;
	text-transform: lowercase;
	font-size: 40px;
}

#socbar a {
	color: gray;
}

#clients {
	color: #cfa205;
	font-family: bitter, Times new Roman, serif;
}

#main {
	width: 1020px;
	margin: auto;
	background: white;
	font-family: bitter, Times new Roman, serif;
}

#present {
	width: 900px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

#present p {
	display: block;
	padding: 60px 20px 60px 20px;
	border-bottom: inset silver;
}

#products {
	margin-top: 60px;
	display: flex;
	padding-bottom: 42px;
}

.current {
	color: #cfa205;
}

.product {
	width: 260px;
	height: 675px;
	margin-left: 60px;
}
